/* src/styles/styles.css */

/* Body Styles */
body {
    background-color: #0099cc;
    margin: 0;
    padding: 0;
  }
  
  /* Textarea Styles */
  .form-group textarea {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 22px); /* Adjusting for the border and padding */
    height: 3em; /* Limiting to three lines */
    margin-bottom: 15px;
    resize: none; /* Disable resizing */
  }
  
  /* Button Styles */
  .btn {
    display: block;
    width: calc(100% - 22px); /* Adjusting for the border and padding */
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Image Styles */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Container Styles */
  .container {
    padding: 20px;
  }
  
  /* Text Center Styles */
  .text-center {
    text-align: center;
  }
  
  /* Form Group Styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Float Right Styles */
  .float-right {
    float: right;
  }
  
  /* Border Styles */
  .border {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  /* Accent Select Styles */
  #voice-select {
    width: calc(100% - 22px); /* Adjusting for the border and padding */
    padding: 10px;
  }
  